<!DOCTYPE html>
<html lang="en">
<head>
    <title>Share Secure information, passwords, links</title>
    <meta name="robots" content="noindex, nofollow">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- secure, password, encryption ->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="~/js/html5shiv.js"></script>
    <script src="~/js/respond.min.js"></script>

    <![endif]-->


    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/jquery.toast.min.css" />

    <!-- Optional theme -->
    <link rel="stylesheet" href="/css/deaddrop.css" />


    <script>
        {% if id %}
            var dropid='{{id}}';
        {% endif %}
    </script>


</head>
<body>
    <div class="particles" id="particles-bg" />
    <form>
        <div class="container">
            <div class="row">
                <div class="col-xs-2 hidden-xs hidden-sm"></div>

                <div class="col-xs-12 col-md-8">
                    <div class="wrapper">
                        <img class="sa-emblem" src="/images/sa-badge.svg" />

                        <!-- end header -->

                        <div id="MakeDrop">
                            <div class="page-header text-center">
                                <h1>Secret Sharing</h1>
                                <p class="intro-text">Need to share data securely? Enter the message that you'd like to send to someone.</p>
                            </div>
                            <div class="panel-body">
                                <textarea name="message" id="message" placeholder="Your message..." class="form-control input-lg" rows="11"></textarea>
                            </div>
                            <div class="text-center">
                                <button type="button" class="btn btn-lg btn-primary" onclick="setDrop()">Create a secret message</button>
                            </div>
                        </div>
                        <!-- end make your drop -->

                        <div id="DropComplete">
                            <div class="page-header text-center">
                                <h1>Secret Sharing</h1>
                            </div>
                            <div class="alert-success">
                                <h3>Secret created!</h3>
                                <p>Please copy and send the message below (or only the location and password) to the recipient of this secret. </p>
                            </div>
                            <div class="panel-body">
                                <div class="drop-complete">
                                    <p class="intro-text">
                                        Hi,<br />
                                        I'm sending you some secure information.<br /><br />
                                        Location: <span id="url"></span><br/>       
                                        Password: <span id="pass"></span>
                                    </p>

                                    <div class="warning">
                                        <p>Warning!</p>
                                        <ul>
                                            <li>This message will ONLY work once, so make sure to copy the data immediately.</li>
                                            <li>After you pick it up, the data will be removed and this link won't work anymore.</li>
                                            <li>This link will only work for 24 hours, so please check shortly.</li>
                                        </ul>
                                    </div>
                                        
                                </div>
                                
                            </div>
                            <div class="text-center">
                                <button type="button" class="btn btn-lg btn-primary" onclick="window.location.assign(getHost())">Create another message</button>
                            </div>
                        </div>
                        <!-- end drop complete -->

                        <div id="RetrieveDrop">
                            <div class="page-header text-center">
                                <h1>Secret Sharing</h1>
                                <p class="intro-text">This will only work once! Clicking 'Get the secret message' will show you the message and delete it permanently.</p>
                            </div>
                            <div class="panel-body">
                                <input type="password" id="password" class="form-control input-lg" placeholder="Enter your password" size="25" />
                            </div>
                            <div class="text-center">
                                <button type="button" class="btn btn-lg btn-primary" onclick="getDrop()">Get the secret message</button>
                            </div>
                        </div>
                        <!-- end retrieve your drop -->


                        <div id="DisplayDrop">
                            <div class="page-header text-center">
                                <h1>Secret Sharing</h1>
                            </div>
                            <div class="alert-success">
                                <h3>Success!</h3>
                                <p>Your decrypted message is shown below. This message has been deleted, you will not be able to retrieve it again.</p>
                            </div>
                            <div class="panel-body">
                                <pre id="decrypted" />
                            </div>
                        </div>
                        <!-- end display dead drop -->
                    </div>
                </div>

                <div class="col-xs-2 hidden-xs hidden-sm"></div>
            </div>
        </div>
        <!-- end container -->
    </form>
..
    <!-- Bootstrap core JavaScript ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="/js/sjcl.js"></script>
    <script src="/js/particles.min.js"></script>
    <script src="/js/jquery.toast.min.js"></script>
    <script>
      var s = document.createElement('script');

      var src = "/js/deaddrop.js?cacheBreak="+Math.floor((Math.random() * 1000000) + 1);
      s.setAttribute('src',src);
      document.body.appendChild( s );

    </script>
    <script src="/js/merseen.js"></script>
</body>
</html>
